/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/storage/logs
/vendor
.buildpath
.editorconfig
.env
.env.example
.env.backup
.gitattributes
.project
.styleci.yml
.phpunit.result.cache
composer.lock
package-lock.json
docker-compose.override.yml
README.md
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.settings
